apiVersion: v1
kind: Secret
metadata:
  name: zoochacha-admin-registry-secret
  namespace: zoochacha-admin
type: Opaque
stringData:
  registry_id: "<YOUR_ECR_REGISTRY_ID>"
  region: "<YOUR_AWS_REGION>" 